body {
	font-family: 'Lato', sans-serif;
	color: #fff;
	margin-bottom: 60px; /* set as footer height */
}
/* Text **************************/
/*********************************/
h1 {
	font-weight: 300;
	font-size: 100px;
}
h2 {
	font-weight: 500;
	font-size: 18px;
}
.fiveDayForecast h2 {
	font-weight: 300;
	color: #7f8c8d;
}

h3 {
	font-weight: 300;
	font-size: 14px;
}

h4{
	font-weight: 250;
	font-size: 12px;
	font-style: oblique;
}
.bodyCopy{
	font-size: 14px;
	font-weight: 300;
}
#fiveDaySummary{
	text-align: center;
}

/* Containers **************************/
/***************************************/
.location{
	padding: 20px;
}

.currentWeather{
	text-align: center;
	padding-bottom: 30px;
}

.fiveDayForecast{
	padding-top: 20px;
}

.dailyWeather {
	background-color: #3498db;
	box-shadow: 0 2px 4px 0
		rgba(0, 0, 0, 0.5);
}

/*footer  *****/

.flex-parent-push{
    position: absolute;
    top: 100%;
    width: 100%;
    
}
.flex-parent{
    display: flex;
    flex-direction: column;
    margin: 0 ;
    min-height: 100%;
}
#footer{
    color: #bfc5ca;
    background-color: #000;
    font-size: 95%;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: .5em;
    position: relative;
}
.footer-text{
    text-align: right;
    line-height: 2em;
